* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: blue;
}

.grid {
    width: 604px;
    height: 604px;
    display: grid;
    border: white solid 2px;
    grid-template-columns: repeat(auto-fit, 40px);
    grid-auto-rows: 40px;
    margin: 20px;
}

.app {
    display:grid;
    grid-template-columns: 644px 1fr;
    gap: 10px;
}

.grid > div {
    width: 40px;
    height: 40px; 
    background-size: 'contain';
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.message {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 200px;
    height: 100px;
    background-color: white;
    opacity: 85%;
}

.message.h1 {
    color: blue;
    text-align: center;
    line-height: 50px;
}

.scoreboard {
    margin: 20px;
    color: white;
}

.scoreboard > * {
    margin: 20px;
}

.spaceship {
    background-image: url('https://boolean-uk.github.io/coding-weeks/2022/aug/sessions/04-space-invaders/images/spaceship.png')
}

.laser {
    background-image: url('https://boolean-uk.github.io/coding-weeks/2022/aug/sessions/04-space-invaders/images/projectile.png')
}

.alien {
    background-image: url('https://boolean-uk.github.io/coding-weeks/2022/aug/sessions/04-space-invaders/images/alien.png')
}

.hit {
    background-image: url('https://boolean-uk.github.io/coding-weeks/2022/aug/sessions/04-space-invaders/images/explosion.png');
}